In [ ]:
import pandas as pd
# Importa la biblioteca Pandas y la asigna al alias 'pd'.

In [ ]:
data = {"name": ["Sally", "Jhon", "Kim"], "age": [4, 6 ,7], "gender": ["female", "male", "male"]}
# Crea un diccionario llamado 'data' con claves 'name', 'age' y 'gender', y listas de valores correspondientes.

In [ ]:
pd.DataFrame(data)
# Convierte el diccionario 'data' en un DataFrame de Pandas con columnas 'name', 'age' y 'gender'.

    name  age  gender
0  Sally    4  female
1   Jhon    6    male
2    Kim    7    male

In [ ]:
pd.DataFrame(data, index = ["Kid1", "Kid2", "Kid3"])
# Convierte el diccionario 'data' en un DataFrame con filas indexadas como 'Kid1', 'Kid2' y 'Kid3'.

       name  age  gender
Kid1  Sally    4  female
Kid2   Jhon    6    male
Kid3    Kim    7    male